body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Мінімальна висота сторінки — вся висота екрану
}

.main {
  flex: 1; // Основний контент займає весь вільний простір
}
