$primary-color: #232121;
$accent-color: #414141;
$background-color: #0a0a0a;
$text-color: #333;
$font-family: 'Poppins', sans-serif;

$border-radius: 8px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

$tablet-max-width: 768px;
$desktop-max-width: 1080px;
$desktop-min-width: 1170px;
$phone-min-width: 320px;
$phone-max-width: 600px;
$padding-content: 20px;
$padding-content-tablet: 39px;
$padding-content-desktop: 55px;
$during: 0.3s;