.testimonials {
	margin-top: 80px;
}

.testimonials__heading {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	@include on-phone {
		gap: 15px;
		flex-direction: column;

		p {
			text-align: center;
		}
	}
}
.testimonials__title {
	max-width: 452px;
}
.testimonials__subtitle {
	max-width: 400px;
}
.testimonials__row {
	flex-wrap: wrap;

	position: relative;
	display: flex;
	justify-content: start;

	gap: 30px;
}
